.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #c2c1c1c2;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sidebar button {
    background-color: #6b4e4e;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }
  
  .sidebar button:hover {
    background-color: #5a3f3f;
  }
  
  .sidebar button.active {
    background-color: #795757;
  }
  
  .sidebar .logoutButton {
    background-color: #f44336;
    color: white;
  }
  
  .content {
    background-color: #e0e0e0;
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  