.how-it-works {
    background-color: #fff;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.step {
    flex-basis: 300px;
}

.step-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary); /* Assurez-vous d'avoir une variable --primary dans votre CSS global */
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.step h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}