.documentItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .actions {
    display: flex;
  }
  
  .upload, .complete {
    width: 80px;
    height: 30px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
  }
  
  .upload {
    background-color: #87CEEB; 
  }
  
  .complete {
    background-color: #32CD32; 
  }
  