/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #D9D9D9;
  ;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.navLinks li {
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: #796060;
  font-weight: bold;
}

.navLinks a:hover {
  color: #796060;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  border: 1px solid red; 
}

.burgerLine {
  align-items: end;
  width: 100%;
  height: 30px;
  background-color: #796060;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .burger {
    display: flex; 
  }

  .navLinks {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    background-color: #fff; 
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navLinksOpen {
    transform: translateX(0);
  }

  .navLinks li {
    margin: 20px 0;
  }
}
