/* Navbar.css */

.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar-brand,
  .navbar-item {
    color: #fff;
  }
  
  .navbar-brand:hover,
  .navbar-item:hover {
    color: #fff;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: flex-start; /* Alignement à droite */
    justify-content: center; /* Alignement au centre */
    /* justify-content: space-between; */ /* Espacement uniforme entre les éléments */
  }
  
  
  .navbar-start,
  .navbar-end {
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    padding: 0.5rem 2rem;
  }
  
  .navbar-item:hover {
    background-color: #555;
  }
  
  .buttons .button {
    margin-left: 0.5rem;
  }